<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload ="true">
	<targets>
		<!-- 文件日志 -->
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception:format=ToString}" />
	</targets>
	<rules>
		<!-- 记录所有级别的日志 -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>